/* Colors */
$edge-color-brand: #362580; !important
$edge-color-brand-secondary: #6856b9; !important
$edge-color-blue: #007bff; !important
$edge-color-green: #4CAF50; !important
$edge-color-red: #CA3838; !important
$edge-color-black: #fff; !important
$edge-color-grey-darker: F6F6F6; !important
$edge-color-grey-dark: #E9E9E9; !important
$edge-color-grey-light: #B8B8B8; !important
$edge-color-white: #555555; !important
