.home-page-background{
    background-color: #555555; !important
}
.edgenuity{
background-color: #555555; !important
}
.col-xl-3, .col-lg-4, .col-md-6, .col-sm-12, .sle-card, .card{
    background-color: #555555; !important
}

*{
 color: white;  
}
