@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    font-family: 'Quicksand'; !important
}
.anchor{
    opacity: .2;
    transition: opacity .5s;
    transition color .5s;
}
.anchor:hover{
    opacity: 1;   

}
.anchor:active{

    opacity: 1;   
    color: blue;
}
